*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
body{
    background-color: #446ced;
    
}

.container {
    width: 80%;
    height: 200px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.257);
    margin: 50px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: aliceblue;
}

h1 {
    font-size: 2em;
    color: #333;
}

