*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
body{
    background-color: #446ced;
    
}

.container {
    width: 80%;
    height: auto;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.257);
    margin: 50px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: aliceblue;
    gap: 20px;
}
#titulo {
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 2.5em;
    color: #427df3a0;
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.066);
}

h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 2em;
    color: #333;
}

form input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    font-size: 1em;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    
}

form input:hover {
    border-color: #446ced;
    background-color: rgb(179, 192, 254);
    transition: 0.3s;
}

form input:active {
    background-color: #0e0052;
    color: white;
    transition: 0.1s;
}

input.task {
    transition: 0.2s linear;
}

.erase  {
    background-color: rgba(255, 25, 25, 0.767);
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
   margin-left: 10px;
}

ul {
    padding: 20px;
    margin: auto;
}

ul li {
    width: auto;
    list-style: none;
    padding: 10px;
    margin: 10px 0;
    background-color: #a6c7ff59;
    border-radius: 10px;
}

footer
{
    color: rgba(255, 255, 255, 0.667);
    text-align: center;
    padding: 10px;
    margin: auto;
    font-style: italic; 
}
